
:root {
    --main-color: #07aac4;
    --main-font: 'Passion One', sans-serif; 
    ;
}

.home-container {
    display: block;
}
  
.img-branches {    
    display: flex;
    margin-top: 6rem;
    width: 100%;
    background-size: 100% 100%;

}
@media (max-width: 900px) {
    .img-branches img{
      width: 100%;
      height: auto; /* adjust height to content */
      margin-bottom: -25px;
  
    }
  }
  
  @media only screen and (max-width: 480px) {
      .img-branches {
        display: block;
        width: 100%;
        object-fit: cover;
      }
    }   

#text1 {
    height: 46.2rem;
    width: 52rem;
    border-style: solid;
    border-color: var(--main-color);
    margin-left: 38.3rem;
    margin-top: -47.6rem;
    background-color: var(--main-color);
}

#text1 h2 {
    margin-left: 5rem;
    margin-top: 8rem;
    font-size: 60px;
    color: #fff;
    font-family: var(--main-font);

}

#text1 p {
    color: #fff;
    width: auto;
    margin-top: 2rem;
    margin-left: 1.5rem;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font: 200;
}


@media (max-width: 480px) {
    #text1 {
      display: block;
      width: 100%;
    }
}

  /* Mobile (portrait) */
@media only screen and (max-width: 900px) {
    #text1 {
      width: 100%;
      display: block;
      margin: 10px 0;
      margin-top: -10px;
    }

    #text1 h2 {
        font-size: 60px;
        
    }

    #text1 p {
        font-size: 20px;
        width: 80%;
    }
}

.h2 {
    height: 100px;
    width: 80%;
   /* border-style: solid;
    border-color: black;*/
    margin-left: 9rem;
    font-size: 25px;
    color: var(--main-color);
    font-family: 'Passion One', sans-serif;
}


.card-container {
    display: flex;
    flex-direction: column;
    /*border: 1px solid red;*/
    width: 90%;
    margin: auto;  
}


.card-1 {
    display: flex;
    border-radius: 5px;
    margin-top: 3rem;
    width: 80%;
    margin-left: 7rem;
}

.card-img-1 {
   /* display: flex;
    flex-direction: column ;
    justify-content: center;
    width: 100%;
    height: auto;
    order: 2;
    margin-bottom: 3rem;
*/
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 45px;
    order: 2;
    flex-direction: column ;
}

.card-text-1 p {
    width: 80%;
   /* border: 1px solid green; */
    margin-top: 1rem;
    margin-left: 2rem;
    font-family: 'Roboto', sans-serif;
    white-space: 3px;
    font-size: 15px;
}

.card-text-1 b {
    margin-left: 2rem;
    font-size: 25px;
    color: var(--main-color);
    font-family: var(--main-font);
}

/* ==== ==== */

.card-2 {
    display: flex;
    border-radius: 5px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 80%;
    margin-left: 9rem;
}

.card-img-2 {
    /*display: flex;
    flex-direction: column ;
    justify-content: center;
    width: 100%;
    margin-bottom: 0rem;*/
    position: relative;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
    flex-direction: column ;
}

.card-text-2 p {
   /* border: 1px solid green; */
    font-family: 'Roboto', sans-serif;
    white-space: 3px;
    width: 50%;
    float:inline-end;
    font-size: 15px;
    margin-top: -0.2rem;
}

.card-text-2 p b {
    color: var(--main-color);
    font-family: var(--main-font);
    font-size: 25px;
}

@media only screen and (min-width: 1281px) {
    .card-container {
        max-width:1280px;
    }
}

@media only screen and (min-width: 1441px) {
    .card-container {
        max-width:1440px;
    }
}

    @media (max-width: 1000px) {
    .card-1 {
        flex-direction: column;
        justify-content: center;
        margin-left: 10rem;
        width: 75%; 
    }

    .card-text-1 p {
        width: auto;
        margin-left: 12px;
        font-size: 20px;
        margin-bottom: 5rem;
    }

    .card-text-1 b {
        margin-left: 12px;
        width: auto;
        text-align: left;
        font-size: 30px;
    }

    .card-img-1 img {
        width: 100% !important;
        height: auto;
        margin-bottom: 0rem;
    }   
}

@media (max-width: 900px) {
    .card-1 {
        flex-direction: column;
        justify-content: center;
        width: 75%; 
        margin: auto;
    }

    .card-text-1 p {
        width: auto;
        margin-left: 12px;
        font-size: 15px;
        margin-bottom: 2rem;
    }

    .card-text-1 b {
        margin-left: 12px;
        width: auto;
        text-align: left;
        font-size: 25px;
    }

    .card-img-1 img {
        width: 100% !important;
        height: auto;
        margin-bottom: 0rem;
    }   
}





@media (max-width: 1000px) {
    .card-2 {
        flex-direction: column;
        margin-left: 10rem;
        width: 75%;
    }


    .card-img-2 img {
        width: 100%;
        height: 100%;
        margin-bottom: 0rem;
    } 
  }

  @media (max-width: 900px) {
    .card-2 {
        flex-direction: column;
        justify-content: center;
        width: 75%; 
        margin: auto;
    }

    .card-text-2 p {
        width: auto;
        margin-left: 12px;
        font-size: 15px;
        margin-bottom: 2rem;
    }

    .card-text-2 b {
        margin-left: 12px;
        width: auto;
        text-align: left;
        font-size: 25px;
    }

    .card-img-2 img {
        width: 100% !important;
        height: auto;
        margin-bottom: 0rem;
    }   
}

/* ==== ====*/

.img-br {
    width: 45rem;
}

@media (max-width: 1000px) {
    .img-br {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .img-br {
        width: auto;
    }
}


/*.img-br-text {
    height: 33.5rem;
    width: 44.9rem;
    border-style: solid;
    border-color: var(--main-color);
    margin-left: 45rem;
    margin-top: -33.825rem;
    background-color: var(--main-color);
}*/

.img-br-text {
    background-color: var(--main-color);
    display: block;
    height: 30rem;
    margin-top: -20px;
}

.img-br-text p {
    color: #fff;
    height: 250px;
    width: 80%;
    margin-left: 5rem;
    padding-top: 5rem;
    margin-bottom: 8rem;

}

.img-br-text p b {
    margin-top: 3rem;
    font-family: var(--main-font);
    font-size: 40px;
    color: #fff;
}

@media (min-width: 1000px) {
    .img-br-text {
        height: 33.5rem;
        border-style: solid;
        border-color: var(--main-color);
        margin-left: 45rem;
        margin-top: -33.825rem;
        background-color: var(--main-color);
        display: block;
        
    }

    .img-br-text p {
        color: #fff;
        height: 250px;
        width: 350px;
        margin-left: 5rem;
        margin-top: 1rem;
    }

    .img-br-text p b {
        color: #fff;
        margin-left: 0rem;
    }
}

.button-demo2 {
    border: none;
    background-color: white;
    border-radius: 1.5rem;
    margin-left: 5rem;
    padding: 16px 32px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  
  .button-demo2:hover {
    background-color: #f2f2f2;
    text-decoration: white;
  }

.hr {
    width: 80%;
    /*align: center;*/
}
    
