:root {
    --main-color: #07aac4;
    --main-font: 'Passion One', sans-serif;
}

.container {
    padding-left: 10rem;
    padding-top: 10rem;
    display: flex;
}  

.img-contact {
    margin-left: 30.5rem;
}

.contact {
    width: 450px;
    height: 480px;
    margin-top: -30rem;
}

.contact b {
    font-size: 40px;
    font-family: var(--main-font);
    color: var(--main-color);
    margin-left: 4rem;
}

.contact p {
    margin-left: 4rem;
    margin-top: 4rem;
}

b {
    font-size: 30px;
    font-family: var(--main-font);
    color: var(--main-color);
    padding: 13px;
}

.input {
    font-weight:500;
    font-size: 18px;
    border-radius: 10px;
    line-height: 22px;
    background-color: transparent;
    
    
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box #f2f2ff;
    outline: 0;
  }

 .input:focus { border:2px solid var(--main-color); }
  
  .textarea {
    height: auto;
    width: 100%;
    line-height: 150%;
    resize: vertical;
    margin-left: 500px;
  }
  
  [type="submit"] {
    border: none;
    background-color: var(--main-color);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 1.5rem;
    margin-top: 3rem;
    color: #fff;
    width: 75%;
  }

  [type="submit"]:hover { background:#05c2df; }

  #adress {
    text-align: center;

  }

#address p {
    margin: 5px 0;
    margin-left: 6rem;
    text-align: center;
}

#address a {
    color: #07aac4;
    text-decoration: none;
}

.googlemaps {
    margin-left: 8rem;
}

.link {
    color: var(--main-color);
}
