:root {
    --main-color: #07aac4;
    --main-font: 'Passion One', sans-serif;
}

.img-prijzen {
    margin-top: 5rem;
    width: 60%;
    background-size: 100% 100%;

}

@media only screen and (max-width: 480px) {
    .img-prijzen {
      display: block;
      width: 60%;
      object-fit: cover;
    }
  }

  /* Mobile (portrait) */
@media only screen and (max-width: 768px) {
    .img-prijzen {
      width: 60%;
      display: block;
      margin: 10px 0;
      object-fit: cover;

    }
  }
  
  /* Tablet (landscape) */
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    .img-prijzen {
      width: 100%;
      display: inline-block;
      vertical-align: top;
      margin: 10 0px;
      object-fit: cover;
    }
  }

.card {
    border: solid 3px var(--main-color);
    height: 50.8rem;
    width: 45.2rem;
    background-color: var(--main-color);
    margin-left: 44.8rem;
    margin-top: -51rem;
}

.card p {
    margin-left: 5rem;
    color: #fff;
    width: 30rem;
}

.card b {
    margin-left: 5rem;
    color: #fff;
    font-family: var(--main-font);
    font-size: 20px;
}


.card h2 {
    margin-left: 5rem;  
    margin-top: 8rem;
    font-size: 50px;
    font-family: var(--main-font);
    color: #fff;
}

@media only screen and (max-width: 480px) {
    .card {
      display: block;
      width: 100%;
    }
  }

  /* Mobile (portrait) */
@media only screen and (max-width: 768px) {
    .card {
      width: 100%;
      display: block;
      margin: 10px 0;
    }

    .card h2 {
        font-size: 60px;
    }

    .card p {
        font-size: 20px;
    }
  }
  
  /* Tablet (landscape) */
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    .card {
      width: 100%;
      display: inline-block;
      vertical-align: top;
      margin: 10 0px;
    }

    .card h2 {
        font-size: 60px;
    }

    .card p {
        font-size: 20px;
    }
  }

.contact-btn {
    border-style: solid;
    border-color: var(--main-color);
    background-color: #fff;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 1.5rem;
    margin-left: 5rem;
    margin-top: 5rem;
    transition-duration: 0.4s;
    color: #fff;
    font-family: 'Source Sans 3', sans-serif;
}


.contact-btn:hover {
    background-color: #f2f2f2;
    text-decoration: white;
  }

.img-prijzen2 {
    margin-left: 45rem;
    margin-top: -50.4rem;
    height: 52%;
}

@media only screen and (max-width: 480px) {
    .img-prijzen2 {
      display: block;
      width: 100%;
    }
  }

  /* Mobile (portrait) */
@media only screen and (max-width: 768px) {
    .img-prijzen2 {
      width: 100%;
      display: block;
      margin: 10px 0;
    }
  }
  
  /* Tablet (landscape) */
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    .img-prijzen2 {
      width: 100%;
      display: inline-block;
      vertical-align: top;
      margin: 10 0px;
    }
  }

.card-2 {
    height: 50.4rem;
    width: 45rem;
    border: solid white;
}

.titel {
    font-size: 30px;
    font-family: var(--main-font);
    color: var(--main-color);
    margin-left: 5rem;
    margin-top: 5rem;
}


.card-2 p {
    width: 400px;
    margin-left: 5rem;
    margin-top: -10px;
}

.card-2 h5 {
    margin-left: 5rem;
    margin-top: 4rem;
    font-size: 20px;
    font-family: var(--main-font);
}



