:root {
    --main-color: #07aac4;
}

/*.img5 {
    height: auto;
    max-width: 100%;
}
*/

.img5 {
    display: inline-block; /* change the default display type to inline-block */
    background-size: 100% 100%;

}


#text1 {
    height: 71.7rem;
    width: 41rem;
    margin-top: -72rem;
    margin-left: 49rem;
    background-color: var(--main-color);
    border: #07aac4;
}

#text1 h1 {
    color: #fff;
    font-family: 'Passion One', sans-serif;
    font-size: 50px;
    margin-left: 2rem;
    margin-top: 10rem;  
}

#text1 p {
    color: #fff;
    margin-left: 2rem;
    font-size: 17px;
}

/*@media (max-width: 768px) {
    #text1 {
        width: 100%;
        height: 500px;
        margin-left: 0%;
        margin-top: -4px;

    }

    #text1 h1 {
        font-size: 2rem;
        margin-top: 15px;
    }

    #text1 p {
        font-size: 1rem;
        margin: 0 1rem;
    }
}*/

@media (max-width: 768px) {
    #text1 {
        width: 100%;
        height: auto; /* adjust height to content */
        margin-left: 0%;
        margin-top: -4px;
    }

    #text1 h1 {
        font-size: 2rem; /* adjust font size to fit smaller screens */
        margin-top: 1rem;
    }

    #text1 p {
        font-size: 1rem; /* adjust font size to fit smaller screens */
        margin: 0 0.5rem; /* adjust margin to fit smaller screens */
    }
}

.box {
    display: flex;
    place-items: center;
    margin-top: 5rem;
    word-spacing: 10px; 
    margin-bottom: 6rem;
    align-items: center;
    justify-content: space-between;

}

.round-img {
    display: inline-block;  
}

.round-img b {
    color: var(--main-color);
    font-size: 40px;
    font-family: 'Passion One', sans-serif;
    margin-left: 10px;
}

.round-img p {
    height: 300px;
    width: 180px;
    margin-left: 10px;
    letter-spacing: 1px;
    word-spacing: 1px;
    margin-bottom: 12rem;
    font-size: 15px;
}
  
  /* add media queries to apply different styles for different screen sizes */
  @media (max-width: 600px) {
    .round-img p {
      font-size: 24px; 
    }
  }
  
  @media (min-width: 600px) and (max-width: 900px) {
    .round-img p {
      font-size: 24px; 
    }
  }
  
  @media (min-width: 900px) {
    .round-img p {
      font-size: 24px; 
    }
  }

#text3 {
    height: 45rem;
    width: 100%;
    background-color: var(--main-color);
}

#text3 h3 {
    margin-top: -33rem;
    margin-left: 8rem;
    font-size: 35px;
    color: #fff;
    font-family: 'Passion One', sans-serif;
}

#text3 p {
    height: 500px;
    width: 450px;
    margin-left: 8rem;
    color: #fff;
    word-spacing: 5px;
    font-size: 18px;
    margin-top: -15px;
}

.img6 {
    display: flex;
    margin-left: 45rem;
    margin-top: 10px;
    height: 575px;
    width: 575px;
}
