:root {
    --main-color: #07aac4;
    --main-font: 'Passion One', sans-serif;
}

.voorwaarden {
    background-color: var(--main-color);
    color: #ffff;
}

.voorwaarden b {
    font-size: 4vw;
    text-align: left;
    font-family: var(--main-font);
}


.voorwaarden p {
    height: 100%;
    width: 60%;
    padding-top: 10rem;
    margin-left: 20%;
    padding-bottom: 10px;
    word-spacing: 3px;
    font-size: 17px;
    white-space: inherit;
    font-family: 'Roboto', sans-serif;
    font: 200;
}
      
@media (max-width: 1024px) {
    .voorwaarden p {
        height: 80%;
    }
}

   @media (max-width: 768px) {
    .voorwaarden p {
        height: 50%;
    }
}

    @media (max-width: 768px) {
        .voorwaarden b {
            height: 50%;
            font-size: 30px;
        }
    }